*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    background-color: rgba(7, 228, 44, 0.782);
    width: 100%;
    height: 70px;
    line-height: 70px;
    padding: 0px 30px;
    position: fixed;
}
header .logo{
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 35px;
}
header nav{
    float: right;
}
header nav li{
    list-style: none;
    display: inline-block;
}
header nav li a{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    padding: 0px 20px;
    font-size: 20px;
}
header nav li a:hover{
    color: crimson;
}
header nav li a:active{
    color: black;
}
.checkbtn{
    color: white;
    font-size: 35px;
    cursor: pointer;
    float: right;
    display: none;
}
#check{
    display: none;
}
@media screen and (max-width: 1020px){
    header{
        padding: 0px 50px;
    }
    .checkbtn{
        display: block;
    }
    header .logo{
        font-size: 30px;
    }
    header nav{
        width: 100%;
        height: 55vh;
        background-color: #53694c;
        top: 75px;
        position: absolute;
        right: -100%;
        text-align: center;
        transition: 0.5s;
    }
    header nav li{
        display: block;
        margin: 40px 0px;
        line-height: 20px;
    }
    #check:checked ~ nav{
        right: 0px;
    }
}